<%- include('../../shared/includes/head', { pageTitle: 'failure' }) %>

</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1> Order failed</h1>
    <p>pls contact shop owner</p>
    
  </main>
<%- include('../../shared/includes/footer') %>